@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
body{
    padding: 0;
    margin: 0;
    background-image: url("liv7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: rotationApparition 1s ease-out;
    transform-origin: center;
}
@keyframes rotationApparition {
  from {
    opacity: 0;
    transform: rotateY(90deg) scale(0.8);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
  }
}
h1{
    text-align: center;
}
form{
    display: flex;
  flex-grow: 1;
  margin:  4rem 0 10rem;
}
input{
    padding: 12px;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  font-size:1.5rem ;
  border-right: none;
  margin-left: 2rem;
}
.search-btn{
    height: 2.5rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  border-bottom-left-radius: 0;
}
a{
  text-decoration: none;
  margin: 1rem ;
  border: 1px solid black;
  border-radius: 1rem;
  color: black;
  padding: 0.5rem;
  background-color: #cecece;
  position:relative;
  margin-right: 8rem;
  margin-left: 8rem;

 
}
a:hover{
  color: greenyellow;
  transition: 0.5s;
  background-color: black;

}
@media (max-with:600px){
  body{
    padding: 5px;

  }
  a{
    margin: 0.5rem;
    display: block;
    width: 80%;

  }
  form{
    width: 95%;
    margin: 20px auto 10px auto;
    justify-content: center;
  }
  input{
    width: 70%;
    margin-left: 0;

  }
  .search-btn{
    padding: 0.3rem 0.5rem;
  }

}


  
}



